:root {
    color-scheme: light dark;
}

body {
    width: 200px;
    padding: 10px;

    font-family: system-ui;
	font-size: 12;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}
